/dts-v1/;
/plugin/;

/ {
	fragment@5001 {
		target = <&uart1>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@5002 {
		target = <&uart2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5003 {
		target = <&uart3>;
		__overlay__ {
			status = "okay";
		};
	};
};
