/dts-v1/;
/plugin/;

/ {
	fragment@5001 {
		target = <&uart1>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@5002 {
		target = <&uart2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5003 {
		target = <&uart3>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5004 {
		target = "/";
		__overlay__ {
			sound: sound {
				audio-codec = <&max98357a>;
			};

			// Codec chip
			max98357a: max98357a@0 {
				compatible = "maxim,max98357a";
				#sound-dai-cells = <0>;
				reg = <0x1a>;
				// Additional, apparently not needed settings, for our usage:
				//clocks = <&mclkout0_lpcg 0>;
				//clock-names = "mclk";
				//clock-frequency = <24000000>;
				//micdet-cfg = <0x0>;    // We have no audio in (microphone)
				//micdet-delay = <0x64>;
				//power-domains = <&pd IMX_SC_R_MCLK_OUT_0>;
			};

			// Sound-card definition
			sound-mpcflex {
				compatible = "simple-audio-card";
				simple-audio-card,name = "mpcflex-audio";

				// Optional properties:

				// simple-audio-card,widgets
				// simple-audio-card,routing
				// simple-audio-card,name
				// simple-audio-card,widgets
				// simple-audio-card,routing
				// simple-audio-card,mclk-fs - if defined here then mclk-fs in dai-link subnode is ignored
				// simple-audio-card,hp-det-gpio
				// simple-audio-card,mic-det-gpio
				// simple-audio-card,aux-devs
				// simple-audio-card,pin-switches
				// simple-audio-card,dai-link (container)

				// From Documentation/devicetree/bindings/sound/simple-card.txt:
				// If dai-link subnode is omitted and the subnode properties
				// are directly under "sound"-node, then the subnode property and
				// subnode names have to be prefixed with "simple-audio-card,"

				// Optional DAI link properties:
				simple-audio-card,format = "i2s";
				simple-audio-card,frame-master = <&cpudai>;
				simple-audio-card,bitclock-master = <&cpudai>;

				// Additional optional parameters:

				// bitclock-inversion (bool)
				// frame-inversion (bool)
				// mclk-fs -- multiplication factor between strean rate and codec mclk for dai-link

				// Optional CPU/CODEC subnodes properties:
				// - dai-tdm-slot-num
				// - dai-tdm-slot-width
				// - clocks / system-clock-frequency

				// Mandatory properties for main sound node: = cpu and codec
				// Required CPU/CODEC subnodes properties are:
				// - sound-dai

				cpudai: simple-audio-card,cpu {
					sound-dai = <&sai2>;
				};

				link_codec: simple-audio-card,codec {
				    sound-dai = <&max98357a>;
				};
			};
		};
	};
};
