/*
 * Copyright (C) 2022 Avnet Embedded
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation version 2.
 *
 * This program is distributed "as is" WITHOUT ANY WARRANTY of any
 * kind, whether express or implied; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/plugin/;

/ {
	fragment@1000 {
		target = <&lpi2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			eeprom@57 {
				compatible = "atmel,24c64";
				reg = <0x57>;
				pagesize = <32>;
			};
		};
	};

	fragment@1001 {
		target = <&lpi2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			eeprom@57 {
				compatible = "atmel,24c64";
				reg = <0x57>;
				pagesize = <32>;
			};
		};
	};

	fragment@1002 {
		target = <&spidev0_0>;
		__overlay__ {
			compatible = "jedec,spi-nor";
		};
	};

	fragment@1003 {
		target = <&spidev0_1>;
		__overlay__ {
			compatible = "jedec,spi-nor";
		};
	};

	fragment@1004 {
		target = <&spidev1_0>;
		__overlay__ {
			compatible = "jedec,spi-nor";
		};
	};

	fragment@1005 {
		target = <&spidev1_1>;
		__overlay__ {
			compatible = "jedec,spi-nor";
		};
	};
};
